.directory-name {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.directory-paths {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    margin: 5px;
}

.rename-delete-directory {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
}

#duration,
#type {
    text-align: center;
    background-color: aliceblue;
    border: 1px solid rgb(244, 255, 254);
    border-radius: 15px;
    padding: 15px;
    margin: 10px 10px 20px;
}

.shared-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    margin-bottom: 40px;
}
