<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>

        <link rel="stylesheet" href="/styles/style.css" />
        <link rel="stylesheet" href="/styles/directory.css" />
        <link rel="stylesheet" href="/styles/file.css" />
    </head>
    <body>
        <%- include("./partials/viewAll", { directories: locals.directories, files: locals.files, path: locals.path }) %>
    </body>
</html>
