<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>

        <link rel="stylesheet" href="../styles/style.css" />
        <link rel="stylesheet" href="../styles/file.css" />
    </head>
    <body>
        <% if (locals.user) { %>
        <h1 class="center">You're already logged in</h1>
        <% } %>

        <form action="/login" method="POST" class="rename-delete-file">
            <label for="username">Username:</label
            ><input type="text" id="username" name="username" />

            <label for="password">Password:</label
            ><input type="password" id="password" name="password" />

            <button type="submit">Login</button>
        </form>

        <form action="/login/signup" method="POST" class="rename-delete-file">
            <label for="username">Username:</label
            ><input type="text" id="username" name="username" />

            <label for="password">Password:</label
            ><input type="password" id="password" name="password" />

            <button type="submit">Signup</button>
        </form>
    </body>
</html>
