<form action="/directory" method="POST">
    <label for="directory-name">New Folder: </label>
    <input type="text" name="directoryName" id="directory-name" />
    <button type="submit">Create</button>
</form>
