<form action="/directory" method="POST">
    <label for="directory-name">New Folder: </label>
    <input type="text" name="directoryName" id="directory-name" />

    <input type="hidden" name="path" value="<%= locals.path ? locals.path : "./drive" %>" />
    
    <button type="submit">Create</button>
</form>
