<div>
    <h4>
        <%= String(directory.path).substring(String(directory.path).lastIndexOf("/") + 1) %>
    </h4>
    <p>
        <small>(<%= directory.path %>) or (<%= directory.uniqueIdentifier %>)</small>
    </p>
</div>
