<div>
    <h4>
        <%= String(file.fileInformation.originalFilename) %>
    </h4>
    <p>
        <small
            >(<%= file.fileInformation.destinationOfFilename + "/" + file.filename %>)</small
        >
    </p>
    <p>
        <small
            >(<%= file.fileInformation.destinationOfFilename + "/" + file.fileInformation.originalFilename %>)</small
        >
    </p>
</div>
