<form action="/upload" method="POST" enctype="multipart/form-data" class="center">
    <input type="file" name="uploadedFile" id="uploaded-file" required />
    
    <input type="hidden" name="path" value="<%= locals.path ? locals.path : "./drive" %>" readonly />
    
    <button type="submit"><img src="/icons/uploadFile.svg" alt="Upload a File" width="28px" height="auto"></button>
</form>
