<form action="/upload" method="POST">
    <label for="uploaded-file">Upload something</label>
    <input type="file" name="uploadedFile" id="uploaded-file" />
    <button type="submit">Upload</button>
</form>
