<form action="/upload" method="POST" enctype="multipart/form-data">
    <label for="uploaded-file">Upload something</label>
    <input type="file" name="uploadedFile" id="uploaded-file" />
    
    <input type="hidden" name="path" value="<%= locals.path ? locals.path : "./drive" %>" readonly />
    
    <button type="submit">Upload</button>
</form>
